/*** UNIVERSAL STYLES ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
}

html {
    font-size: 62.5%;
    font-family: Helvetica, sans-serif, monospace;
}

/*** HEADER SECTION ***/

#header {
    min-height: 6.9rem;
    background-color: #000000;
    border-bottom: 1px solid seashell;
    font-size: 2.2rem;
    color: seashell;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin-left: 1rem;
    margin-right: auto;
    padding: .5rem 1rem;
    max-height: 5rem;
    flex: 0 2 20rem;
}

.nav {
    width: 50rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1rem 0;
}

.nav .nav-item {
    text-decoration: underline;
    list-style: none;
    padding: 1rem 2rem;
    
}

.nav-link {
    color: seashell;
    letter-spacing: .1rem;
    font-weight: 300;
}

.nav-link:hover {
    color: rgb(214, 205, 199);
}

/*** HERO SECTION ***/

#hero {
    background: url("/resources/images/img-mission-background.jpg");
    background-image: linear-gradient(rgba(76, 57, 36, 0.2), rgba(76, 57, 36, 0.2)), url("/resources/images/img-mission-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    max-width: 90vw;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid seashell;
    border-top: transparent;
}

.hero-heading-container {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 10rem;
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.hero-heading__main {
    color: seashell;
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    line-height: 1.7;
    padding: 1rem 1rem;
    flex-shrink: 2;
}

.hero-heading__sub {
    color: seashell;
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: .1rem;
    line-height: 1.7;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    flex-shrink: 2;
}

/*** TEA SECTION ***/

#tea {
    max-width: 70vw;
    min-height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

.tea-heading-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0 5rem 0;
}

.tea-heading__main {
    color: seashell;
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    line-height: 1.7;
    padding: 1rem 1rem;
    flex-shrink: 2;
}

.tea-heading__sub {
    color: seashell;
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: .1rem;
    line-height: 1.7;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    flex-shrink: 2;
}

.tea-img__name {
    color: seashell;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: .1rem;
    line-height: 1.7;
    text-align: center;
    padding: 1rem 0;
}

.tea-img-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tea-img {
    margin: 2.5rem 3rem;
    border: 0.5px solid seashell;
}

.tea-img img {
    width: 40rem;
    height: 25rem;
}

/*** SECTION LOCATIONS ***/

#location {
    background: url("/resources/images/img-locations-background.webp");
    background-image: linear-gradient(rgba(76, 57, 36, 0.2), rgba(76, 57, 36, 0.2)), url("/resources/images/img-locations-background.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    max-width: 80vw;
    min-height: 80vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 15rem auto 0 auto;
    border: 1px solid seashell;
}

.location-heading-container {
    display: inline-flex;
    min-height: 10rem;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    margin-top: 10rem;
    flex-shrink: 2;
}

.location-box {
    background-color: #000000;
    width: 40rem;
    min-height: 30rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 4rem;
    border: solid 0.5px seashell;
}

.location-heading__main {
    color: seashell;
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
    line-height: 1.7;
    align-self: center;
    flex-shrink: 2;
}

.location-heading__sub {
    color: seashell;
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: .1rem;
    line-height: 1.7;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 1rem 0;
    flex-shrink: 2;
}

.location-address {
    color: seashell;
    font-size: 2rem;
    font-weight: 200;
    line-height: 3.3;
    text-align: center;
}

/*** SECTION CONTACT ***/

.contact {
    min-height: 40vh;
    min-width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contact-container {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-heading, .contact-email, .contact-mobile {
    color: seashell;
    letter-spacing: .2rem;
    line-height: 3;
}

.contact-heading {
    font-size: 4.5rem;
    font-weight: 600;
}

.contact-email {
    font-size: 2.5rem;
    font-weight: 300;
}

.contact-mobile {
    font-size: 2.5rem;
    font-weight: 300;
}

.copyright {
    min-height: 5rem;
    margin: 0 0rem 0 4rem;
}

.copyright p {
    color: seashell;
    font-size: 2.2rem;
    font-weight: 100;
    letter-spacing: .1rem;
}

/*** MEDIA QUERIES ***/

@media only screen and (max-width: 1980px) {
    
    .tea-img__name {
        font-size: 2.2rem;
    }

    .tea-img img {
        width: 30rem;
        height: 20rem;
    }

    .tea-img {
        margin: 2rem 2.5rem;
    }

    .location-box {
        width: 30rem;
        min-height: 20rem;
        margin: 0 2rem;
    }
}

@media only screen and (max-width: 1600px) {
    
    .hero-heading__main {
        font-size: 3.5rem;
    }

    .hero-heading__sub {
        font-size: 2.2rem;
    }

    .tea-heading__main {
        font-size: 3.5rem;
    }
    
    .tea-heading__sub {
        font-size: 2.2rem;
    }
    
    .tea-img__name {
        font-size: 2.2rem;
    }

    .tea-img img {
        width: 25rem;
        height: 15rem;
    }

    .tea-img {
        margin: 2rem 2.5rem;
    }

    .location-heading__main {
        font-size: 3.5rem;
    }
    
    .location-heading__sub {
        font-size: 2.2rem;
    }

    .location-address {
        font-size: 1.8rem;
        line-height: 3;
    }

    .contact-heading {
        font-size: 3.5rem;
    }
    
    .contact-email {
        font-size: 2.2rem;
    }
    
    .contact-mobile {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 1330px) {
    
    .hero-heading__main {
        font-size: 3rem;
    }

    .hero-heading__sub {
        font-size: 2rem;
    }

    .location-box {
        display: flex;
        align-content: space-around;
        margin-bottom: 3rem;
    }

    .location-heading__main {
        font-size: 3.5rem;
        letter-spacing: .1rem;
        line-height: 1.5;
    }
    
    .location-heading__sub {
        font-size: 2rem;
        letter-spacing: .1rem;
        line-height: 1.3;
    }

    .location-address {
        font-size: 1.8rem;
        line-height: 2.8;
    }

    .contact-heading, .contact-email, .contact-mobile {
        letter-spacing: .1rem;
        line-height: 2;
    }
    
    .contact-email {
        font-size: 2rem;
        font-weight: 300;
    }
    
    .contact-mobile {
        font-size: 2rem;
    }

    .copyright {
        min-height: 5rem;
        text-align: center;
        margin: 0;
    }
} 

@media only screen and (max-width: 625px) {
    #header {
        max-width: 62.5rem;
    }
    .hero-container{
        min-width: 48rem;
    }

    .nav {
        justify-content: flex-end;
        flex-direction: column;
        margin-left: 3rem;
        width: 12.5rem;
    }

    .nav .nav-item {
        font-size: 1.6rem;
        padding: .2rem 0;
    }

    .logo {
        margin-left: 1rem;
        padding: .2rem .5rem;
        height: 4rem;
        flex-basis: 15rem;
    }

    .hero-heading__main {
        font-size: 2.7rem;
    }

    .hero-heading__sub {
        font-size: 1.8rem;
    }

    .tea-container {
        min-width: 48rem;
    }

    .tea-heading-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 7rem 0 2rem 0;
    }

    .tea-heading__main {
        font-size: 2.7rem;
        letter-spacing: .1rem;
        line-height: 1.5;
        padding: .5rem .5rem;
    }
    
    .tea-heading__sub {
        font-size: 1.8rem;
        letter-spacing: .05rem;
        line-height: 1.3;
        justify-content: center;
        align-items: center;
        padding: 1rem .5rem;
    }

    .tea-img__name {
        font-size: 1.8rem;
        letter-spacing: .05rem;
        line-height: 1.3;
        text-align: center;
        padding: .5rem 0;
    }

    .tea-img img {
        width: 30rem;
        height: 15rem;
    }

    .location-box {
        max-width: 25rem;
        max-height: 15rem;
        display: flex;
        align-content: space-around;
        margin-bottom: 2rem;
    }

    .location-heading__main {
        font-size: 2.7rem;
        letter-spacing: .05rem;
        line-height: 1.5;
    }
    
    .location-heading__sub {
        font-size: 1.8rem;
        letter-spacing: .05rem;
        line-height: 1.3;
    }

    .location-address {
        font-size: 1.6rem;
        line-height: 2.5;
    }

    .contact-heading {
        font-size: 2.7rem;
    }
    
    .contact-email {
        font-size: 1.8rem;
    }
    
    .contact-mobile {
        font-size: 1.8rem;
    }
    
    .copyright p {
        font-size: 1.6rem;
        letter-spacing: .1rem;
    }
}